  <header>
    <h1>Rodrigo Torres</h1>
    <nav>
      <ul>
        <li><a href="#">Web Development</a><span>&nbsp; |</span></li>
        <li><a href="#">Graphics</a><span>&nbsp; |</span></li>
        <li><a href="#">About Me</a><span>&nbsp; |</span></li>
        <li><a href="#">Contact Me</a></li>
      </ul>
    </nav>
    <div class="hamIcon"></div>
  </header>

  <div class="content">

    <div class="container1">
      <section class="aboutME">
        <h1>Developer and Graphic Artist</h1>
        <h2>living in the city of Chicago.</h2>
        <p>
          I have always had a strong passion for the web and with a background in graphic design, I knew I wanted to create web functionality while still being able to incorporate design.
        </p>
      </section>
    </div>

    <div class="container2">
      <section class="contact">
        <form class="contactForm" action="index.html" method="post">
          <input type="text" name="name" placeholder="you name...">
          <input type="email" name="name" placeholder="email...">
          <input type="phone" name="name" placeholder="phone...">
          <input type="text" name="name" placeholder="message...">
          <input type="submit">
        </form>
      </section>
    </div>

  </div>

  <footer>
  </footer>
