
body{
  background-color: white;
  margin: 0px;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0px;
  padding: 0px;
}
// end of normalize

header{
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 100;
  background-color: rgb(0,157,138);
  border-bottom: 1px solid rgb(41, 135, 160);
  font-family: 'Lato', sans-serif;
  color: white;
  h1{
    display: inline-block;
    font-weight: 300;
    line-height: 60px;
    font-size: 30px;
    margin: 0px 10px 0px;
  }
}
.shadow{
  box-shadow: 0px 1px 10px 0px black;
}
nav{
  height: 60px;
  float: right;
  a{
    text-decoration: none;
    color: white;
  }

ul{
  padding: 5px 0px;
  margin-right: 25px;
}
li{
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
}
}// end on navbar

// aboutME section ===========================================================
.content{
  width: 100%;
}
#container1{
  width: 100%;
  height: 600px;
  background-image: url('http://upload.wikimedia.org/wikipedia/commons/2/26/City_of_Chicago_from_Adler_Planetarium.jpg');
  background-size: cover;
  position: relative;
  top: 60px;
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 32px;
}

.aboutME{
  width: 60%;
  height: 100%;
h1, h2, p{
  font-family: 'Lato', sans-serif;
  position: relative;
  text-shadow: 1px 1px 5px black;
}
h1{
  top: 100px;
  left: 45px;
  animation-name: lightSpeedIn;
  animation-duration: 2s;
}
h2{
  top: 105px;
  left: 160px;
  animation-name: lightSpeedIn;
  animation-duration: 4s;
}
p{
  font-size: 22px;
  top: 120px;
  left: 190px;
  width: 80%;
  animation-name: lightSpeedIn;
  animation-duration: 4s;
}
}
.guideTo{
  width: 100%;
  margin: 0px auto;
  position: absolute;
  bottom: 45px;
  text-align: center;
}
//work data ==================================================
#container3{
  width: 100%;
  height: 400px;
  background-color: gray;
  position: relative;
  top: 60px;
}
//Developer work ===============================================================
.content2{
  width: 100%;
  position: relative;
  top: -275px;
  z-index: -10;
}
#development{
  width: 100%;
  height: 700px;
  background-color: lightgray;
  h1{
    position: relative;
    top: 20px;
  }
}
//Design work ==================================================================
#graphics{
  width: 100%;
  height: 700px;
  background-color: gray;

}
.desingImage{

}
//contact me section ===========================================================
#container2{
  width: 100%;
  height: 600px;
  position: relative;
  top: -200px;
  overflow: hidden;
}
.contact{
  width: 50%;
  height: 500px;
  float: left;
  margin-top: 100px;
  position: absolute;
  font-family: 'Lato', sans-serif;
  h3{
    margin: 20px 0px 10px;
    text-align: center;
    font-size: 32px;
  }
  hr{
    width: 90%;
    margin-bottom: 20px;
  }
}
.contactForm{
  width: 80%;
  margin: 20px auto;
}
input[type=text],
input[type=email],
input[type=phone],{
  width: 250px;
  height: 40px;
  padding: 10px;
  margin: 0px 0px 10px 5px;
  border: 1px solid rgb(120, 137, 147);
  border-radius: 4px;
  font-size: 22px;
  box-sizing: border-box;
}
textarea{
  width: 100%;
  height: 200px;
  padding: 10px;
  margin: 0px 0px 10px 5px;
  border: 1px solid #788993;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}
input[type=submit]{
  width: 100px;
  height: 35px;
  margin: 0px 0px 0px 5px;
  background-color: rgba(0, 157, 138, .0);
  border: 1px solid rgb(120, 137, 147);
  border-radius: 5px;
  font-size: 14px;
}

input[type=text]:focus,
input[type=text]:active{
outline: 0;
border: 1px solid #93B7CC;
}
input[type=submit]:focus,
input[type=submit]:active{
outline: 0;
border: 1px solid #93B7CC;
}

.myImage{
  width: 50%;
  float: left;
  overflow: hidden;
}
.me{
  width: 400px;
  height: 400px;
  background-image: url('me.png');
  background-size: cover;
  border-radius: 200px;
  margin-top: 105px;
  position: absolute;
  right: 130px;
  top: 40px;
  z-index: 10;
}
// footer start=================================================================
footer{
  width: 100%;
  height: 215px;
  background-color: gray;

}
// responsive queries start below===============================================

@media (max-width: 700px){

  ul{
    display: none;
  }
  span{
    display: none;
  }
  .hamIcon{
    width: 50px;
    height: 40px;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 20px;
    float: right;
    background-image: url('hambuger.png');
    background-size: cover;
    background-position: center;
  }
  nav{
    width: 100%;
    font-family: 'Lato', sans-serif;
    ul{
      margin: 0px;
      padding: 0px;
      background-color: rgb(98, 110, 123);
    }
    li{
      line-height: 105px;
      font-size: 30px;
      font-weight: 300;
      display: block;
      margin: 0px;
      padding: 0px 10px 0px;
      border-bottom: 1px solid rgb(152, 155, 164);
    }
    a{
      text-decoration: none;
      color: white;
    }
    li:hover,
    li:focus{
      background-color: #6F7B88;
    }
  }// end of responsiveNavbar

  .container1{
    height: 500px;
  }
}// end of 700px media

@media (max-width: 400px){

  .container1{
    height: 400px;
  }
  .me{
    width: 130px;
    height: 130px;
    margin: 10px;
    right: 118px;
    top: 0px;
    z-index: 10;
  }
  .contact {
    width: 97%;
    top: 30px;
  }
  .contactForm {
    width: 95%;
  }

}

// animation fadein ===================

@-webkit-keyframes lightSpeedIn {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0) skewX(30deg);
    transform: translate3d(-100%, 0, 0) skewX(30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes lightSpeedIn {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0) skewX(30deg);
    transform: translate3d(-100%, 0, 0) skewX(30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.lightSpeedIn {
  -webkit-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
