<!DOCTYPE html>
<html>
<head>
  <title>Rodrigo Torres Portfolio</title>
  <meta name="description" content="Rodrigo Torres portfolio. Web Developer and Graphic Artist for hire.">
  <meta name="keywords" content="developer, designer, web, Chicago, HTML, CSS, JavaScript">
  <meta name="googlebot" content="NOODP">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="rtindesings">
  <link href="http://fonts.googleapis.com/css?family=Dancing+Script:700|EB+Garamond" rel="stylesheet" type="text/css" />
  <link href="http://fonts.googleapis.com/css?family=Lato:300|Grand+Hotel" rel="stylesheet" type="text/css" />
  <link href="/assets/users.css" media="screen" rel="stylesheet" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="top">

<%= yield %>

</body>
</html>
